# Portable utilities
/git/
/godot/

# Godot 4+ files
/.godot/

# Plugins and dependencies
/.plugged/
/addons/*
!/addons/gd-plug

# Custom configs & prefs
/console.properties
/ptt.json

# OS specific
desktop.ini

# Temp files
/build/
*~*