# Godot 4+ specific ignores
/.godot/

# Plugins and dependencies
/.plugged/
/addons/*
!/addons/gd-plug

# Custom preference files
/console.properties
/ptt.json

# OS specific
desktop.ini

# Temp files
/build/
*~*